{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static wagtailuserbar %}

{% block extra_css %}
<!-- Add extra sytlesheets references here -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
     <style>
        body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        .pagebody {
            background-image: url("{% static 'images/ivory-paper.jpg' %}");
        }
        .pageheader {
            background-image: url("{% static 'images/dgrey062.gif' %}");
        }
    </style>
{% endblock %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <div class="pagebody">
        <div class="w3-container w3-center w3-padding-8 w3-dark-grey">
            <h1><b>{{ page.title }}</b></h1>
            <p>{{ subtitle }}</p>
        </div>
        <div class="w3-bar w3-border-top w3-dark-grey w3-padding-left">
            <a href="{% slugurl 'home' %}" class="w3-bar-item w3-button">
                <b>Home</b>
            </a>
            <div class="w3-dropdown-hover">
                <button class="w3-button w3-hover-white">
                    <b>Categories </b><i class="fa fa-caret-down"></i>
                </button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-quarter">
                    <a href="{{ request.path }}" class="w3-bar-item w3-button w3-white w3-border-bottom">
                        All Categories
                    </a>
                    {% for category in categories %}
                        <a href="{{ request.path }}?category={{ category }}" class="w3-bar-item w3-button w3-white">
                            {{ category }}
                        </a>
                    {% endfor %}
                </div>
            </div>
            {% if request.GET.tag|length or request.GET.category|length %}
                <a href="{{ request.path }}" class="w3-bar-item w3-hover-white w3-button"><b>Blog Index</b></a>
            {% endif %}
         </div>
        <div class="w3-row">
            <div class="w3-col m11 s12 w3-margin w3-padding-left">
            <!-- Blog Entries -->
                {% for post in blogpages %}
                    {% with post=post.specific %}
                        <div class="w3-card-4 w3-margin w3-padding-left w3-white">
                            <!-- Insert blog Image here -->
                            <div class="w3-container w3-margin-top w3-center">
                                {% with post.main_image as main_image %}
                                    {% if main_image %}
                                        {% image main_image height-360 class=" w3-margin w3-padding" %}
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <div class="w3-container">
                                <h3><b>{{ post.title }}</b></h3>
                                <h5>Revised:
                                <span class="w3-opacity">{{ post.latest_revision_created_at }}</span></h5>
                            </div>
                            <div class="w3-container">
                                <p>{{ post.intro }}</p>
                                <div class="w3-row">
                                    <div class="w3-col m8 s12">
                                        <p>
                                            <a class="w3-button w3-padding-medium w3-white w3-border" href="{% pageurl post %}">
                                            <b>READ MORE »</b></a>
                                        </p>
                                    </div>
                                    <div class="w3-col m4 w3-hide-small">
                                        <p><span class="w3-padding-large w3-right">
                                                <b>Comments:   </b>
                                                <span class="w3-tag">0</span>
                                        </span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
        <div class="w3-container w3-padding w3-center">
            <a class="w3-button w3-padding-medium w3-white w3-border" href="#">
                <b>View More »</b>
            </a>
        </div>
    </div>
    <footer class="w3-container w3-dark-grey w3-padding-16 w3-margin-top">
        <p><a href='{{ page.get_parent.url }}'>Return to Home Page</a></p>
    </footer>
{% endblock %}
